<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions" href="/transactions">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="new" href="/new">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
